.legal-page.svelte-xcllu3{min-height:100vh;display:grid;place-items:center;padding:2rem;color:#fff}h1.svelte-xcllu3{font-size:2rem;margin-bottom:1rem}p.svelte-xcllu3{max-width:60ch;color:#fffc;margin-bottom:1.5rem}
